* {
    font-family: "Pacifico", cursive;
    /* font-family: "Nunito",sans-serif; */
    box-sizing: border-box;
    /* overflow-x: hidden; */
  }
  .container {
    max-width: 100%;
    height: 650px;
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
      url("../img/bg-hero.jpg");
    background-position: 50% 0;
    background-size: cover;
  }
  .container .navbar {
    display: flex;
    align-items: center;
  }
  .container .restaurant-name {
    align-items: center;
    display: flex;
    padding: 1%;
    padding-left: 3%;
    flex-basis: 30%;
  }
  .container .restaurant-name h2 {
    margin: 0px;
    font-size: 2rem;
    color: #FEA116;
    font-weight: 600;
    padding-left: 30px;
  }
  .logo {
    height: 40px;
  }
  .container .navbar ul {
    align-items: center;
    margin-left: auto;
    display: flex;
    margin-right: 60px;
  }
  .container .navbar ul li {
    padding: 0 20px;
    list-style: none;
  }
  .container .navbar ul li a {
    text-decoration: none;
    color: white;
    font-weight: 700;
    cursor: pointer;
    font-size: 0.9rem;
  }
  .container .navbar ul li a:hover {
    color: #FEA116;
    transition: 0.5s;
  }
  .container .navbar ul li button {
    background-color: #FEA116;
    font-weight: 600;
    color: white;
    border: #FEA116;
    font-size: 1rem;
    height: 40px;
    width: 180px;
    cursor: pointer;
  }
  .container .content {
    display: flex;
    margin: 5%;
    align-items: center;
  }
  .container .content .content-wrapper {
    color: white;
    width: 400px;
  }
  .container .content .content-wrapper h2 {
    font-size: 2.7rem;
    margin: 0px;
    margin-bottom: 20px;
  }
  .container .content .spinner {
    margin-left: auto;
    margin-right: 15px;
  }
  .container .content .spinner .spinner-image {
    height: 400px;
    animation: rotate 30s linear infinite;
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg); /* Rotate the image 360 degrees */
    }
  }
  .services-container {
    font-family: "Heebo", sans-serif;
    display: flex;
    width: 100%;
    /* margin-left: auto;
      margin-right: auto; */
    padding: 5%;
    justify-content: space-between;
    flex-wrap: wrap;
    /* background-color: gainsboro; */
  }
  .services-container .service {
    background-color: white;
    flex: 20%;
    height: 280px;
    margin: 15px;
    padding: 20px;
    padding-top: 40px;
  }
  .services-container .service:hover {
    background-color: #FEA116;
    color: white;
    transition: 0.5s;
  }
  .services-container .service .service-logo {
    height: 3rem;
    color: #FEA116;
  }
  .services-container .service:hover .service-logo {
    color: white;
    transition: 0.5s;
  }
  .services-container .service h4 {
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
  }
  .about-container {
    background-color: #F1F8FF;
    padding: 0 6%;
    display: flex;
  }
  .about-container .about-photos {
      margin-left: auto;
      margin-right: auto;
    width: 620px;
    display: flex;
    flex-wrap: wrap;
  }
  .about-container .about-photos .img-container {
    position: relative;
    height: 300px;
    width: 300px;
    margin: 5px;
  }
  .about-container .about-photos .img-container .about-img1 {
    height: 300px;
    width: 300px;
  }
  .about-container .about-photos .img-container .about-img2 {
    position: absolute;
    bottom: 0;
    height: 220px;
    width: 220px;
  }
  .about-container .about-photos .img-container .about-img3 {
    position: absolute;
    right: 0;
    height: 220px;
    width: 220px;
  }
  .about-container .about-photos .img-container .about-img4 {
    height: 300px;
    width: 300px;
  }
  .about-container .about-content {
    align-items: center;
    display: grid;
    flex: 1;
    margin-left: 30px;
  }
  .about-container .about-content h5 {
    color: #FEA116;
    font-size: 1.25rem;
    margin: 0;
  }
  .about-container .about-content h1 {
    font-size: 2rem;
    margin: 0;
    font-weight: 800;
  }
  .about-container .about-content p {
      margin: 10px 0;
    }
  .about-container .about-content .experience{
      display: flex;
      margin-bottom: 20px;
  }
  .about-container .about-content .experience .experience1{
      align-items: center;
      width: 50%;
      display: flex;
  }
  .about-container .about-content .experience .experience1 .number{
      color: #FEA116;
      font-size: 3rem;
      font-weight: 600;
  }
  .about-container .about-content .experience .experience1 div{
      align-items: center;
      display: grid;
      height:45px;
      margin-left: 15px;
  }
  .about-container .about-content .experience .experience1 div h6{
      margin: 0;
      font-size: 1rem;
  }
  .about-container .about-content .experience .experience1 div p{
      margin: 0;
  }
  .about-container .about-content button {
    background-color: #FEA116;
    font-weight: 600;
    color: white;
    border: #FEA116;
    font-size: 0.8rem;
    height: 40px;
    width: 180px;
    cursor: pointer;
  }
  @media screen and (max-width: 1300px) {
      .services-container .service {
        flex: 35%;
      }
      .container .navbar {
        display: none;
      }
    }
    @media screen and (max-width: 1100px) {
        .about-container{
            display: block;
        }
      }
    @media screen and (max-width: 650px) {
      .services-container .service {
        flex: 50%;
      }
    }